@model BugTracker_The_Reckoning.Models.Ticket

@{
    ViewBag.Title = "Details of a Ticket";
}

<div class="row table-bordered">
    <div class="col-md-12 class=" table-bordered"">
        <h2>Ticket Details:  @Html.DisplayFor(modelItem => Model.Title)</h2>

        <table class="table table-striped">
            <tr>
                <th>
                    Created
                </th>
                <th>
                    Updated
                </th>
                <th>
                    Project
                </th>
                <th>
                    Type
                </th>
                <th>
                    Priority
                </th>
                <th>
                    Status
                </th>
                <th>
                    Owner
                </th>
                <th>
                    Assigned To
                </th>
                <th></th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Updated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Project.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.TicketTypes.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.TicketPriority.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.TicketStatuses.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.OwnerUser.DisplayName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.AssignedUser.DisplayName)
                </td>
            </tr>
        </table>
        <div class="row">
        <h2>Description</h2>
            <div class="textarea table table-striped col-xs-12">
                @Html.DisplayFor(modelItem => Model.Description)
            </div>
        </div>@Html.ActionLink("Edit This Ticket", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List of Tickets", "Index")


    </div>
  
</div>

<br />
<div class="row">

</div>
<div class="row">
    <div class="col-md-6 table-bordered">
        <h4>Ticket Comments</h4>
        <table class="table table-striped">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Comment
                </th>
                <th>
                    Created
                </th>
            </tr>
            @foreach (var item in Model.TicketComments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                </tr>
            }
        </table>
        @Html.ActionLink("Add a Comment", "Create", "TicketComments", new { TicketId = Model.Id }, null)
    </div>

    <div class="col-md-6 class table-bordered">
        <h4>Ticket Attachments</h4>
        <table class="table table-striped">
            <tr>
                <th>
                    Description
                </th>
                <th>
                    Created
                </th>
                <th>
                    Attached By
                </th>
                <th>
                    FileUrl
                </th>
            </tr>
            @foreach (var item in Model.TicketAttachments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.DisplayName)
                    </td>
                    <td>
                        <a href=@item.FileUrl>
                            @Html.DisplayFor(modelItem => item.FileUrl)
                        </a>
                    </td>
                </tr>
            }
            </table>
        @Html.ActionLink("Add an Attachment", "Create", "TicketAttachments", new { TicketId = Model.Id }, null)

        </div>


        
    <div class="col-md-6 table-bordered">
        <h4>Ticket History</h4>
        <table class="table table-striped">
            <tr>
                <th>
                    Property
                </th>
                <th>
                    Old Value
                </th>
                <th>
                    New Value
                </th>
            </tr>
            @foreach (var item in Model.TicketHistories)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Property)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OldValue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NewValue)
                    </td>
                </tr>
            }
        </table>
    </div>

    </div>

