@model PagedList.IPagedList<BugTracker_The_Reckoning.Models.Ticket>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Tickets List";
}
<div class="row">
    <div class="col-xs-8">
        <h2>Tickets List</h2>
    </div>

</div>
<div class="row">
    <div class="col-sm-10">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>

        <table class="table table-striped">
            <tr>
                <th>
                    @Html.ActionLink("Submitted By", "Index", new { sortOrder = ViewBag.NameSortParm, searchStr = ViewBag.searchStr })
                </th>
                <th>
                    @Html.ActionLink("Project Name", "Index", new { sortOrder = ViewBag.ProjectNameParm, searchStr = ViewBag.searchStr })
                </th>
                <th>
                    @Html.ActionLink("Priority", "Index", new { sortOrder = ViewBag.TicketPriorityNameParm, searchStr = ViewBag.searchStr })
                </th>
                <th>
                    @Html.ActionLink("Status", "Index", new { sortOrder = ViewBag.TicketStatusesNameParm, searchStr = ViewBag.searchStr })
                </th>
                <th>
                    @Html.ActionLink("Type", "Index", new { sortOrder = ViewBag.TicketTypesNameParm, searchStr = ViewBag.searchStr })
                </th>
                <th>
                    @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleParm, searchStr = ViewBag.searchStr })
                </th>
                <th>
                    @Html.ActionLink("Created", "Index", new { sortOrder = ViewBag.CreatedParm, searchStr = ViewBag.searchStr })
                </th>
                <th>
                    @Html.ActionLink("Updated", "Index", new { sortOrder = ViewBag.UpdatedParm, searchStr = ViewBag.searchStr })
                </th>
                <th>
                    @Html.ActionLink("Assigned Developer", "Index", new { sortOrder = ViewBag.AssignedParm, searchStr = ViewBag.searchStr })
                </th>
            </tr>
        </table>
        <div class="panel-group" id="tickets">
            @foreach (var item in Model)
            {
                string theHref = "#panel-element-tickets" + item.Id;
                string theId = "panel-element-tickets" + item.Id;
                <div class="panel panel-default" style="background-color:#f5f5f5; border-color:#dddddd">
                    <div class="row">
                        <div class="panel-heading col-sm-12">
                            <a class=" panel-title" data-toggle="collapse" data-parent="#tickets" href=@theHref>
                                <div class="col-xs-1">
                                    <h6>@Html.DisplayFor(modelItem => item.OwnerUser.FirstName)</h6>
                                </div>
                                <div class="col-xs-2">
                                    <h6> @Html.DisplayFor(modelItem => item.Project.Name)</h6>
                                </div>
                                <div class="col-xs-1">
                                    <h6> @Html.DisplayFor(modelItem => item.TicketPriority.Name)</h6>
                                </div>
                                <div class="col-xs-1">
                                    <h6>@Html.DisplayFor(modelItem => item.TicketStatuses.Name)</h6>
                                </div>
                                <div class="col-xs-1">
                                    <h6>@Html.DisplayFor(modelItem => item.TicketTypes.Name)</h6>
                                </div>
                                <div class="col-xs-1">
                                    <h6>@Html.DisplayFor(modelItem => item.Title)</h6>
                                </div>
                                <div class="col-xs-1">
                                    <h6>@Html.DisplayFor(modelItem => item.Created)</h6>
                                </div>
                                <div class="col-xs-1">
                                    <h6>@Html.DisplayFor(modelItem => item.Updated)</h6>
                                </div>
                                <div class="col-xs-1">
                                    <h6>@Html.DisplayFor(modelItem => item.AssignedUser.DisplayName)</h6>
                                </div>
                                <div class="col-xs-1">
                                    <h6>@Html.DisplayFor(modelItem => item.AssignedUser.DisplayName)</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div id=@theId class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12" style="background-image:linear-gradient(#04519b, #044687 60%, #033769); margin-bottom:10px">
                                    <h1 style="text-align:center; color:white;">@Html.DisplayFor(modelItem => item.Title)</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="col-sm-2">
                                        <p><b>Submitted By: </b></p>
                                        <p><b>Project Name: </b></p>
                                        <p><b>Assigned Developer:</b></p>
                                    </div>
                                    <div class="col-sm-3">
                                        <p>@Html.DisplayFor(modelItem => item.OwnerUser.FirstName)</p>
                                        <p>@Html.DisplayFor(modelItem => item.Project.Name)</p>
                                        <p>@Html.DisplayFor(modelItem => item.AssignedUser.DisplayName)</p>
                                    </div>
                                    <div class="col-sm-1">
                                        <p><b>Status:</b></p>
                                        <p><b>Priority:</b></p>
                                        <p><b>Type:</b></p>
                                    </div>
                                    <div class="col-sm-2">
                                        <p>@Html.DisplayFor(modelItem => item.TicketStatuses.Name)</p>
                                        <p>@Html.DisplayFor(modelItem => item.TicketPriority.Name)</p>
                                        <p>@Html.DisplayFor(modelItem => item.TicketTypes.Name)</p>
                                    </div>
                                    <div class="col-sm-1">
                                        <p>
                                            <b>
                                                Created:
                                            </b>
                                        </p>
                                        <p><b>Updated:</b></p>
                                    </div>
                                    <div class="col-sm-2">
                                        <p>
                                            @Html.DisplayFor(modelItem => item.Created)
                                        </p>
                                        <p>@Html.DisplayFor(modelItem => item.Updated) </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 column">
                                    <div class="col-sm-4">
                                        <h3>
                                            @Html.ActionLink("Attachments(" + item.TicketAttachments.Count() + ")", "Details/" + item.Id)
                                        </h3>
                                    </div>
                                    <div class="col-sm-4">
                                        <h3>
                                            @Html.ActionLink("Comments(" + item.TicketAttachments.Count() + ")", "Details/" + item.Id)
                                        </h3>
                                    </div>
                                    <div class="col-sm-4">
                                        <h3>
                                            @Html.ActionLink("History(" + item.TicketAttachments.Count() + ")", "Details/" + item.Id)
                                        </h3>
                                    </div>
                                </div>
                                <div class="col-md-2 column">
                                    <div class="btn-group btn-group-vertical" style="padding-top:20px">
                                        @if (User.IsInRole("Administrator") || User.IsInRole("Project Manager"))
                                        {
                                            <span title="Edit Ticket"><em>@Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-default glyphicon glyphicon-pencil" })</em></span>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>




    <div class="col-xs-2">
        @using (Html.BeginForm("Index", "Tickets", FormMethod.Post))
        {
            <div class="row" style="margin-top:20px">
                @Html.TextBox("searchStr")<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
                <button type="button" class="btn btn-primary" onclick="AdvancedSearch()">Advanced Search</button>
            </div>
            <div class="advancedSearch" id="adv" style="font-size:12px">
                <h3>Include:</h3>
                <div class="row">
                    @Html.CheckBox("titleSearch", (bool)ViewBag.titleSearch)
                    @Html.Label("Title")
                </div>
                <div class="row">
                    @Html.CheckBox("nameSearch", (bool)ViewBag.nameSearch)
                    @Html.Label("Owner Name")
                </div>
                <div class="row">
                    @Html.CheckBox("emailSearch", (bool)ViewBag.emailSearch)
                    @Html.Label("Owner Email")
                </div>
                <div class="row">
                    @Html.CheckBox("projectSearch", (bool)ViewBag.projectSearch)
                    @Html.Label("Projects")
                </div>
                <div class="row">
                    @Html.CheckBox("attachmentsSearch", (bool)ViewBag.attachmentsSearch)
                    @Html.Label("Attachments")
                </div>
                <div class="row">
                    @Html.CheckBox("prioritySearch", (bool)ViewBag.prioritySearch)
                    @Html.Label("Priority")
                </div>
                <div class="row">
                    @Html.CheckBox("typeSearch", (bool)ViewBag.typeSearch)
                    @Html.Label("Type")
                </div>
                <div class="row">
                    @Html.CheckBox("statusSearch", (bool)ViewBag.statusSearch)
                    @Html.Label("Status")
                </div>
                <div class="row">
                    @Html.CheckBox("assignSearch", (bool)ViewBag.assignSearch)
                    @Html.Label("Developer")
                </div>
            </div>
        }
    </div>

    <div class="row" id="filters">

    </div>

</div>
<div class="row">
    <div class="col-md-12">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.sortOrder, searchStr = ViewBag.searchStr, ViewBag.titleSearch, ViewBag.nameSearch, ViewBag.emailSearch, ViewBag.projectSearch, ViewBag.attachmentsSearch, ViewBag.prioritySearch, ViewBag.statusSearch, ViewBag.typeSearch, ViewBag.assignSearch }))
    </div>
</div>
<script src="~/Scripts/TicketsIndex.js"></script>
