@model PagedList.IPagedList<BugTracker_The_Reckoning.Models.Ticket>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Tickets List";
}

<script src="~/Scripts/DataTables-1.10.5/media/js/jquery.dataTables.min.js"></script>
<link href="~/Scripts/DataTables-1.10.5/media/css/jquery.dataTables.min.css" rel="stylesheet" />

<div class="row">
    <div class="col-xs-8">
        <h2>Tickets List</h2>
        <h4>@Html.ActionLink("Create New", "Create")</h4>
    </div>

</div>
<div class="row">
    <div class="col-sm-12">
        <table class="display" id="ticketsTable">
            <thead>
                <tr>
                    <th>
                        Submitted By
                    </th>
                    <th>
                        Project Name
                    </th>
                    <th>
                        Priority
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Created
                    </th>
                    <th>
                        Updated
                    </th>
                    <th>
                        Assigned Developer
                    </th>
                    <th>
                        Edit/Details
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        
                            <td>@Html.DisplayFor(modelItem => item.OwnerUser.FirstName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Project.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.TicketPriority.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.TicketStatus.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.TicketType.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Title)</td>
                            <td>@Html.DisplayFor(modelItem => item.Created)</td>
                            <td>@Html.DisplayFor(modelItem => item.Updated)</td>
                            <td>@Html.DisplayFor(modelItem => item.AssignedUser.DisplayName)</td>
                            <td><span title="Edit Ticket">@Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "glyphicon glyphicon-pencil"})</span>
                                &nbsp;&nbsp;&nbsp;<span title="Details">@Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "glyphicon glyphicon-zoom-in" })</span></td>
                    </tr>

                }

            </tbody>
        </table>
    </div>
</div>
<script src="~/Scripts/TicketsIndex.js"></script>
