@model IEnumerable<BugTracker_The_Reckoning.Models.Project>

@{
    ViewBag.Title = "Projects List";
}

<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink("Create New Project", "Create")
</p>
<div class="panel-group" id="projects">
    @if (Model != null)
    {
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSort })
                </th>
            </tr>
        </table>
        foreach (var item in Model)
        {
            string theHref = "#panel-element-projects" + item.Id;
            string theId = "panel-element-projects" + item.Id;
            <div class="panel panel-default">
                <div class="panel-heading">
                    <table>
                        <tr>
                            <th>
                                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#projects" href=@theHref>@item.Name</a>
                            </th>
                            <td>

                            </td>
                        </tr>
                    </table>
                </div>
                <div id=@theId class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-10 column">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h4>Members: (@item.Members.Count)</h4>
                                        <ol>
                                            @foreach (var usr in item.Members)
                                            {
                                                <li>
                                                    @Html.ActionLink(usr.DisplayName, "Details/" + usr.Id, "ApplicationUsers")
                                                </li>
                                            }
                                        </ol>

                                    </div>
                                    <div class="col-md-4">
                                        <h4>Tickets: (@item.Tickets.Count)</h4>
                                        <ul>
                                        @foreach (var tick in item.Tickets)
                                        {
                                            <li>
                                                @Html.ActionLink(tick.Title, "Index", "Tickets/Details/" + tick.Id)
                                            </li>
                                        }
                                            </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="btn btn-default btn-group btn-group-vertical">
                                    <div class="row">
                                        @if (User.IsInRole("Administrator") || User.IsInRole("Project Manager"))
                                        {
                                            <div class="col-md-4">
                                                <span title="Edit Project"><em>@Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-default btn-primary glyphicon glyphicon-pencil" })</em></span>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        }
    }
</div>
