<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale 1.0" />
    <title>@ViewBag.Title - BugTracker</title>

    @using Microsoft.AspNet.Identity
    <meta name="description" content="BugTracker" />
</head>
<body>
    
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        Menu
                    </button>
                    <img src="~/Content/img/bugtracker-icon.png" class="navbar-brand"/>
                </div>
                <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li id="Home">@Html.ActionLink("Home", "Index", "Home")</li>
                            <li id="About">@Html.ActionLink("About", "About", "Home")</li>
                            <li id="Contact">@Html.ActionLink("Contact", "Contact", "Home")</li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li id="Projects">@Html.ActionLink("Projects", "Index", "Projects")</li>

                                <li class="dropdown" id="Tickets">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tickets<strong class="caret"></strong></a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Tickets", "Index", "Tickets")</li>
                                        <li>@Html.ActionLink("Ticket Types, Priorities and Statuses", "Index", "TypePriorityStatus")</li>
                                    </ul>
                                </li>
                                if (User.IsInRole("Administrator") || User.IsInRole("Project Manager"))
                                {
                                    <li id="Users">@Html.ActionLink("Users", "Index", "ApplicationUsers")</li>
                                }
                            }
                        </ul>
                        @Html.Partial("_LoginPartial")
                </div>
                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/bootstrap")
                @RenderSection("scripts", required: false)
            </div>
    </div>
    <div class="container">
        <link href="~/Content/jquery-impromptu.min.css" rel="stylesheet" />
        @Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/Content/css")
        @RenderBody()
        <hr />
        
        <footer>
            <p>&copy; @DateTime.Now.Year - BugTracker</p>
        </footer>
    </div>
</body>
</html>