@model PagedList.IPagedList<BugTracker_The_Reckoning.Models.TicketPriority>
@using PagedList;
@using PagedList.Mvc;


@{
    ViewBag.Title = "Ticket Priorities List";
}

<h2>Ticket Priorities List</h2>

<p>
        @Html.ActionLink("Create New Priority", "Create")
</p>
<div class="row">
    @if (Model != null)
    {
        <div class="col-sm-4">
            <table class="table table-striped">
                @Html.ActionLink("Sort By Name", "Index", new { sortOrder = ViewBag.NameSortParm })

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <h3>@Html.ActionLink(@item.Name, "Edit", new { id = item.Id })</h3>
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
</div>
<div class="row">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.sortOrder }))
</div>
